<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                var search_query = $('#search_query').val();
                event.preventDefault();
                console.log(search_query)
                $.ajax({
                    data: {
                        message: search_query,
                    },
                    type: 'POST',
                    url: 'http://localhost:5000/textblob/api',
                    success: function (response) {
                        console.log(response.negative, response.positive, response.neutral);

                        var data = [{
                            x: ['Negative', 'Positive', 'Neutral'],
                            y: [response.negative, response.positive, response.neutral],
                            type: 'bar'
                        }]

                        var layout = {
                            title: 'Haptics Twitter Sentiment',
                            showlegend: false
                        }

                        Plotly.newPlot('myDiv', data, layout, { modeBarButtonsToRemove: ['toImage'] })

                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
                console.log('The response is1 ' + response);


            });
            event.preventDefault();
        });
    </script>
    <meta name="theme-color" content="#563d7c">
    <title>Flask App</title>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/textblob/api">
                                <span data-feather="home"></span>
                                Make Analysis <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                               CSV
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                DATA
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                               DISPLAY
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
                {% block body%} {% endblock%}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>

</html>